body {
  margin:0;
  width:100%;
  height:100%;
  background-color: #29292c;
  color:rgb(197, 194, 194);
}

 body header {
  background-color: darkslategrey;
  color:rgb(197, 194, 194);
}

img {
  vertical-align: bottom;
  border-radius: 7px;
}

h1, p, h2 {
  margin: 0px;
}

/* header */
header {
  background-color:#efefef;
}  

.kodawari {
  margin:50px auto 120px;
  text-align: center;
}

header .container {
  width: 400px;
  margin: 0px auto;
  padding: 32px 0;
  display: flex;
  align-items: center;
}


header h1 {
  font-weight: normal;
  font-size: 24px;
}

header ul {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
}
header ul li + li {
  margin-left: 8px;
}

header .container div + div {
  margin-left: 32px;
}

header .icon {
  border-radius: 50%;
}

/* main */
main .container {
  width: 400px;
  margin: 0 auto;
  
}

main h1 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 60px 0;
}

main h2 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

main p{
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}



/* footer */
footer   {
  padding: 60px;
  text-align: center;
  color: #AAA;

}

.drink {
  margin: 200px auto 150px;
  color:rgb(197, 194, 194);
}

section  {
  margin-bottom:200px;
}

.price {
  /* width: 120px; */
  margin: 20px auto 20px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.cost {
  opacity:0.6;
}



